body {
    font-size: 16px;
    color: $color-black;
    font-family: $font-space-grotesk;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.cursor-pointer { cursor: pointer; }
.centered-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


//  text
.text-grey { color: $color-grey; }
.font-archivo-black { font-family: $font-archivo-black; }
.fw-ultra-bold { font-weight: 900 !important; }
.fs-title-section { font-size: 4rem; }
.fs-title-mega { font-size: $font-size-title-mega !important;}
.fs-contact-mail { font-size: 2.5rem; }
.link-icon {
    font-size: 1.5rem;
    color: $color-black;
    
    &:hover {
        color: $color-grey;
    }
}
.link { @include replaceLinkUnderlineAndColor($color-white); }
.gradient-red {
    background-image: linear-gradient(90deg, $color-orange 36%, $color-fucsia 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-wrap-balance { text-wrap: balance;}


//  background
.bg-black { background-color: $color-black !important; }
.bg-grey { background-color: $color-grey !important; }
.bg-green-accent { background-color: $color-green-accent !important; }
.bg-blue {background-color: $color-blue !important; }
.bg-orange {background-color: $color-orange !important; }
.bg-icon-javascript { color: $color-javascript !important; }
.bg-icon-typescript { color: $color-typescript !important; }


//  tooltip
.tooltip-inner { background-color: $color-white; color: $color-black; border-right-color: $color-white; }
.bs-tooltip-bottom .tooltip-arrow:before {
    //border-right-color: $color-white !important;
}
.tooltip .tooltip-arrow:before {
    border-color: #0000;
    border-style: solid;
    content: "";
    position: absolute;
}


//  navbar
#navbar-logo {
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &:hover {
        font-weight: bold;
        border: 2px solid $color-white !important;
    }
}
.navbar-scrolled {
    border-radius: 18px;
    padding: 1rem;
    transition: all .5s ease-in-out;
    background-color: $color-navbar-blur;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);

    & #navbar-logo {
        margin-left: 10px;
        color: $color-white !important;
    }

    & .link {
       @include replaceLinkUnderlineAndColor($color-white);
    }

    // #hire-me-button {
    //     border: 1px solid $color-white;
    //     background-color: $color-black;

    //     &:hover {
    //         background-color: $color-white !important;
    //         color: $color-black !important;
    //     }
    // }
}
.offcanvas {
    &:is(.bg-black) .link {
        @include replaceLinkUnderlineAndColor($color-white);
    }

    .nav-item {
        padding: 10px;

        .link {
            font-size: 36px;
            color: $text-color-white;
        }
    }
}


//   modal
.modal-dialog {
    .modal-content {
        border: unset;

        .modal-body {
            .btn-close {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }
}
.modal-header { border-bottom: unset; }
.modal-footer { border-top: unset; }
.modal-body { padding: 50px; }
.modal-content { border-radius: 18px; }


//  badge
.badge-outline-warning {
    border: 1px solid $color-warning !important;
    background-color: transparent !important;
    color: $color-warning;
}


//  sections
#first-hello-hero {
    padding-top: 120px;

    #blob-lottie {
        overflow: hidden;
        top: 44%;

        canvas {
            width: 1500px !important;
        }
    }
}

#about-section-hero {
    .box {
        background: rgba(255, 255, 255, 0.12);
        border-radius: 18px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(11.9px);
        border: 1px solid rgba(255, 255, 255, 0.13);
        padding: 24px;

        .box-data {
            font-family: $font-archivo-black;
            font-weight: bold;
            font-size: 3rem;
            margin-bottom: 56px;
        }
    }
}



#about-section-hero, #contact-hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

#side-projects-hero {
    padding-top: 150px;
    padding-bottom: 200px;

    .current-portfolio {
        background-image: url('/current-portfolio.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .honey-project {
        background-image: url('/honey-drop.webp');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .crypto-project {
        background-image: url('/crypto_background.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

#about-section-hero {
    .idea-project {
        &:hover .black-highlight {
            display: inline-block;
            background-color: $color-black;
            color: $text-color-white;
            padding-right: .5rem;
            padding-left: .5rem;
            border-radius: 7px;
            transition: all .6s ease-in-out;
        }
    }
    .projects-count {
        bottom: -32px;
        right: 12px;
        font-size: 8rem;
    }
}

.sliding-container {
    width: 100%;
    height: 600px;
    padding: 100px 0;
    overflow: hidden;

    .first-slider {
        transform: rotate(5deg) translateY(110px);
    }

    .second-slider {
        transform: rotate(-5deg) translateY(-200px);
    }

    .loop-element {
        width: 110% !important;
        height: 250px;
        position: relative;
        margin-left: 0;
        margin-right: 0;

        &:hover .marquee-inner {
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }

        &::before {
            content: attr(data-title);
            position: absolute;
            //  top: 1rem;
            left: 12vw;
            font-size: 2.125rem;
            font-family: $font-space-grotesk;
            text-transform: none;
            font-weight: 400;
            color: $text-color-white;
        }

        .marquee-inner {
            display: inline-block;
            white-space: nowrap;
            animation: sliding 45s infinite linear;
            padding-left: 100%;
            margin-top: 2rem;

            span {
                font-size: 8rem;
                white-space: nowrap;
                position: relative;
                padding-left: 40px;
                padding-right: 40px;
                display: inline-block;
                //-webkit-text-stroke-width: 2px;
                //-webkit-text-stroke-color: $color-black;
                -webkit-text-fill-color: $color-white;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

.app-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 64px;
    height: 64px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.fluo-available {
    position: relative;

    &::after {
        content: "";
        left: .08em;
        right: -.05em;
        bottom: -2px;
        height: 10px;
        background: $color-shocking;
        mask-image: $wave-svg;
        -webkit-mask-repeat: repeat-x;
        mask-size: -64px 20px;
        mask-repeat: repeat-x;
        animation: wave-scroll 3s linear infinite;
        position: absolute;
        z-index: -1;
    }
}


//  about page
#wall-time-hero {
    padding-top: 100px;

    .card {
        height: 500px;
        padding: 0;
        font-size: 4rem;
        border: 1px solid $color-grey !important;

        img {
            object-fit: cover;
        }
    }
}

#my-services-section {
    padding: 80px 0 150px;
}

#media-section {
    padding: 80px 0 150px;

    .carousel {
        height: 100%;
        
        .carousel-inner {
            height: 100%;
        }
        .carousel-item {
            height: 100%;
        }
    
        img {
            object-fit: cover;
            position: unset !important;
            height: 352px;
        }
    }
}




//  not-found page
#not-found-page {
    div:first-child {
        font-size: 50vw;
        opacity: .05;
        z-index: 1;
    }
    div:nth-child(2), img {
        z-index: 2;
    }
}


.embed-widget-container {
    background-color: red !important;
}

